.container {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #ed225d;
    margin: 40px 0;
}

h1 .p5 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.5em;
    margin: 10px;
}

.link-list {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

.link-list a {
    border: 1px solid black;

    color: black;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;

    padding: 20px 0px;
    margin: 10px 0px;
    
}

.link-list a:hover {
    background-color: rgb(235, 235, 235);
}

.sep {
    background-color: #ed225d;
    border-radius: 4px;
    margin: 20px;
    height: 4px;
    width: 70%;
}