h1 {
    color: #ed225d;
    text-align: center;
    margin: 30px;
}

h1 .p5 {
    font-weight: bold;
    /* border: 1px solid black; */
    letter-spacing: 2px;
    font-size: 1.3em;
    margin: 5px;
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.link-list a {
    border: 1px solid silver;

    color: black;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.5px;

    padding: 20px;
    margin: 10px;

    width: 100%;
    max-width: 500px;;
    
}

.link-list a:hover {
    border: 1px solid grey;
    background-color: rgb(235, 235, 235);
}